@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@100&family=Open+Sans:wght@600&display=swap");
@import "reset.css";

body {
  background-color: beige;
  font-family: "Open Sans", sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10vh;
}

#balloon-container {
  height: 100%;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  overflow: hidden;
  transition: opacity 500ms;
}

#main-balloon {
  position: absolute;
  width: 10vh;
  height: 11.5vh;
  color: rgb(49, 49, 49);
  background-color: rgb(178, 175, 175);
  box-shadow: inset -7px -3px 10px rgba(20, 2, 2, 0.3);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.5vh;
  font-weight: bold;
  transition: opacity 1s ease; /* Add a transition for a smoother effect */
  z-index: 99;
}

.balloon {
  height: 10vh;
  width: 8vh;
  border-radius: 75% 75% 70% 70%;
  position: relative;
}

.balloon:before {
  content: "";
  height: 75px;
  width: 1px;
  padding: 1px;
  background-color: #e6e668;
  display: block;
  position: absolute;
  top: 10vh;
  left: 0;
  right: 0;
  margin: auto;
}

.balloon:after {
  content: "▲";
  text-align: center;
  display: block;
  position: absolute;
  color: inherit;
  top: 9.5vh;
  left: 0;
  right: 0;
  margin: auto;
}

@keyframes float {
  from {
    transform: translateY(100vh);
    opacity: 1;
  }
  to {
    transform: translateY(-100vh);
    opacity: 0.5;
  }
}

.animate-charcter {
  background-image: linear-gradient(
    -225deg,
    #2148e4 0%,
    #44107a 29%,
    #ff1361 67%,
    #ff36f1 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 12vw;
  font-weight: bold;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
